[core]
    editor = nvim

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[user]
	name = Marnick van der Arend
    
[github]
    user = marnickvda

[push]
	autoSetupRemote = true

[color]
	ui = auto

[init]
	defaultBranch = main

[status]
	submoduleSummary = true

[pull]
	rebase = true

[rerere]
	enabled = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
